name: My First GitHub Action

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: 23f2003236@ds.study.iitm.ac.in
        run: echo "GitHub Action is working!"
